.botonCLiente { /*BLOQUE 5*/
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-size: $tamanoBtnCliente; 
    background-color: teal; 
    padding: 1% 2%;
    border-radius: 0.5em;
    height: max-content;
    margin-right: 4%;
    margin-left: 4%;
    &:hover {
        @extend .botonCLiente;
        color: rgb(189, 226, 226); 
        background-color: $color-btnCliente; 
        border-radius: 5px;
        box-shadow: 0 0 3px 3px rgba(26, 105, 68, 0.5);
    }
    &--construccion {
        width: min-content;
        padding: 0.4rem;
        &:hover {
            padding: 0.4rem;
        }
    }
}

.clientes { /*BLOQUE 6*/
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 3%;

    &__cuadro {
            animation: animacionClientes 3s;

            
            &--dosMundos {
                @include cuadroCliente (0,dosMundos);
                //background-image: url("../../Imagenes/banner_dosMundos.jfif");
            }
            &--macanas {
                @include cuadroCliente (2,macanas);
                //background-image: url("../../Imagenes/banner_macanas.jpg");
              
            }
            &--antiPasto {
                @include cuadroCliente(1,antipasto);
               // background-image: url("../../Imagenes/banner_antipasto.jpg");
            }
    }

    &__datos {
        width: 68%;
        height: 100%; 
        display: flex; 
        flex-direction: column;
    }
    &__ol {
        padding-left: 2vw;
        margin-bottom: 0;
    }
    &__logo {
        height: 100%; 
        width: 32%; 
        padding: 2%;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        &--par{
            order: 1;
        }
    }

    &__imagen {
        height: 20vh;
    }

    &__descripcion {
        background-color: rgba(255, 255, 255, 0.411); 
        border: rgba(255, 255, 255, 0.747) 2px solid;
        height: 70%;
        padding: 2vh 2vw;
    }

    &__listado {
        list-style:disc; 
        margin-bottom: 2%; 
        font-size: $tamanoTexto*0.8; 
        font-family: sans-serif; 
        color:rgb(56, 7, 7); 
        font-weight: bold;
    }

    &__link {
        height: 30%;    
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--par {
            justify-content: flex-start; 
        }
    }

}

@media screen and (max-width:1200px) {
    .clientes__listado {font-size: $tamanoTexto/1.5;}
}

@media screen and (max-width:1000px) and (min-width:700px) {
  .clientes{
        &__imagen {
          height: 15vh;
        }
        &__listado {
            font-size: $tamanoTexto/2;
        }
    }
    .botonCLiente {
        font-size: $tamanoBtnCliente/1.5;
    }
}
@media screen and (max-width:699px) and (min-width:0px) {
    .clientes {
        &__imagen {
        height: 10vh;
        }  
        &__logo {
            width: 50%;
        }
        &__listado {
            font-size: $tamanoTexto/2.2;
        }
        &__datos {
            width: 50%;
        }
  }
  .botonCLiente {
    font-size: $tamanoBtnCliente/1.5;
}
}

@keyframes animacionClientes {
    0% {opacity: 0%;transform: translatey(-50%)}
    60% {transform:translatey(10px);}
    65% {transform:translatey(-7px);}
    70% {transform:translatey(5px);}
    75% {transform:translatey(0px);}
    100% {opacity: 100%;}
    }